body {
  margin: 0;

  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
* {
 
  font-family: sans-serif;
}

html,
body,
#root {
  padding: 0;
  margin: 0;
  height: 100%;
}
.navbar .correct {
  -webkit-animation: .4s correct;
  animation: .4s correct;
}

.navbar .incorrect {
  -webkit-animation: .4s incorrect;
  animation: .4s incorrect;
}

@-webkit-keyframes correct {
  0% {
      color: #fff;
  }

  50% {
      color: orange;
  }

  to {
      color: purple;
  }
}

@keyframes correct {
  0% {
      color: #fff;
  }

  50% {
      color: pink;
  }

  to {
      color: yellow;
  }
}

@-webkit-keyframes incorrect {
  0% {
      color: #fff;
  }

  50% {
      color: #d9d9f3;
  }

  to {
      color: #fff;
  }
}

@keyframes incorrect {
  0% {
      color: #fff;
  }

  50% {
      color: #d9d9f3;
  }

  to {
      color: #fff;
  }
}

.navbar {
  background: #9dd3a8;
  min-height: 10px;
  position: fixed;
  width: 100%;
  -webkit-box-shadow: 0 14px 28px rgba(0,0,0,.25),0 10px 10px rgba(0,0,0,.22);
  box-shadow: 0 14px 28px rgba(0,0,0,.25),0 10px 10px rgba(0,0,0,.22);
  color: #114357;
  font-size: calc(10px + 14 * (100vw - 320px)/ 800);
  z-index: 99;
 
}

.navbar ul {
  margin: 0;
  padding: 0;
  width: 100%;
}

.navbar li {
  display: inline-block;
  padding: 0px 0;
  width: 33.3%;
  text-align: center;
}

.navbar a {
  text-decoration: none;
  color: #114357;
  font-weight: bold;
}


@media (max-width: 420px) {
  .navbar li:first-child {
      width:25%;
  }

  .navbar li:nth-child(2) {
      width: 35%;
  }

  .navbar li:last-child {
      width: 40%;
  }
}
  .header {
    background-color: #ceefe4;
    /**** Background below loaded in Header.js due to build issues ****/
    /* background-image: url(/assets/images/headerBG.jpg); */
    background-repeat: repeat;
    background-position: center;
    background-size: cover;
    color: #B2DFDB;
    min-height: 400px;
    padding: 100px 20px;

    text-align: center;
}

.headerContainer {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 20px;
    margin: 0 auto;
    width: fit-content;
    display: table;
}

.header h1 {
    margin: 0;
    margin-bottom: 10px;
    font-size: 2rem;
}

.header h2 {
    font-size: 1rem;
}

@media (min-width: 100px) {
    .header h1 {
        margin: 0;
        margin-bottom: 200px;
        font-size: 3rem;
    }
    .header h2 {

        font-size: 2rem;
    }
}

.footer {
  background: red;
  height: 10px;
  position: relative;
  color: #114357;
  overflow: none;
}

.footer>.bottom {
  position: relative;
  width: 100%;
  background: #ceefe4;
  font-weight: bold;
  text-align: center;
}

.footer>.bottom>img {

  position: relative;
  top: 2px;
  left: 2px;
}

.footer a:link {
  color: #114357!important;
  text-decoration: none;
}

.footer a:visited {
  color: #114357!important;
  text-decoration: none;
}

.footer a:hover {
  color:  #114357!important;
  text-decoration: none;
}

