.card {
  background: #fdc4b6;
  border-radius: 3px;
  height: 325px;
  margin: 1rem;
  position: relative;
  width: 325px;
  box-shadow: 0 3px 6px #fdc4b6, 0 3px 6px #fdc4b6;
  text-align: left;
}

.card > .img-container {
  height: 50%;
  overflow: hidden;
  text-align: center;
  background: #9dd3a8;
}
.card > .img-container > img {
  width: 100%;
}

.card > .content {
  padding-left: 1rem;
  padding-right: 1rem;
  font-size: 15px;
}

.card > .content > ul {
  list-style-type: none;
}

.card > .content > ul > li {
  margin-top: 18px;
}
.card {
  background:#9dd3a8;
  border-radius: 2px;
  height: 325px;
  margin: 1rem;
  position: relative;
  width: 325px;
  box-shadow: 0 3px 6px #fdc4b6, 0 3px 6px #fdc4b6;
  text-align: left;
}

.card > .img-container {
  height: 110000%;
  overflow: hidden;
  text-align: center;
  background: #9dd3a8;
}
.card > .img-container > img {
  width: 100%;
}

.card > .content {
  padding-left: 1rem;
  padding-right: 1rem;
  font-size: 15px;
}

.card > .content > ul {
  list-style-type: none;
}

.card > .content > ul > li {
  margin-top: 18px;
}

.title {
  width: 100%;
  text-align: center;
  font-size: 3rem;
  text-decoration: underline;
  color:#9dd3a8;
  margin-bottom: 50px;
}

.wrapper {
  padding-top: 50px;
  background: #ceefe4;
  height: 100%;
  display: flex;
  flex-flow: row wrap;
  padding: 20px;
  justify-content: space-around;
  align-content: flex-start;
  overflow: auto;
}
