body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
* {
  box-sizing: border-box;
  font-family: sans-serif;
}

html,
body,
#root {
  padding: 0;
  margin: 0;
  height: 100%;
}
.navbar .correct {
  -webkit-animation: .4s correct;
  animation: .4s correct;
}

.navbar .incorrect {
  -webkit-animation: .4s incorrect;
  animation: .4s incorrect;
}

@-webkit-keyframes correct {
  0% {
      color: #fff;
  }

  50% {
      color: #d9d9f3;
  }

  to {
      color: #fff;
  }
}

@keyframes correct {
  0% {
      color: #fff;
  }

  50% {
      color: #d9d9f3;
  }

  to {
      color: #fff;
  }
}

@-webkit-keyframes incorrect {
  0% {
      color: #fff;
  }

  50% {
      color: #d9d9f3;
  }

  to {
      color: #fff;
  }
}

@keyframes incorrect {
  0% {
      color: #fff;
  }

  50% {
      color: #d9d9f3;
  }

  to {
      color: #fff;
  }
}

.navbar {
  background: #d9d9f3;
  min-height: 70px;
  position: fixed;
  width: 100%;
  -webkit-box-shadow: 0 14px 28px rgba(0,0,0,.25),0 10px 10px rgba(0,0,0,.22);
  box-shadow: 0 14px 28px rgba(0,0,0,.25),0 10px 10px rgba(0,0,0,.22);
  color: #fdc4b6;
  font-size: calc(10px + 14 * (100vw - 320px)/ 800);
  z-index: 99;
  white-space: nowrap;
}

.navbar ul {
  margin: 0;
  padding: 0;
  width: 100%;
}

.navbar li {
  display: inline-block;
  padding: 26px 0;
  width: 33.3%;
  text-align: center;
}

.navbar a {
  text-decoration: none;
  color: #fdc4b6;
  font-weight: bold;
}

@media (max-width: 420px) {
  .navbar li:first-child {
      width:25%;
  }

  .navbar li:nth-child(2) {
      width: 35%;
  }

  .navbar li:last-child {
      width: 40%;
  }

  .header {
    background-color: #2c323c;
    /**** Background below loaded in Header.js due to build issues ****/
    /* background-image: url(/assets/images/headerBG.jpg); */
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    color: #d9d9f3;
    min-height: 400px;
    padding: 180px 20px;
    padding-bottom: 90px;
    text-align: center;
}

.headerContainer {
    color:red;
    padding: 40px;
    margin: 0 auto;
    width: fit-content;
    display: table;
}

.header h1 {
    margin: 0;
    margin-bottom: 30px;
    font-size: 2rem;
}

.header h2 {
    font-size: 1rem;
}

@media (min-width: 1100px) {
    .header h1 {
        margin: 0;
        margin-bottom: 30px;
        font-size: 3rem;
    }
    .header h2 {

        font-size: 2rem;
    }
}
}
